<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Netflix{% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block others %}
            
        {% endblock  %}
    </head>
    <body style="font-family:Arial; text-transform: uppercase;">
        {% block content %}
            
        {% endblock  %}
    </body>
</html>
